@model Inspinia_MVC5_SeedProject.Models.Result

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details Result</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Cours.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Cours.name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Student.fullname)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Student.fullname)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Student.email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Student.email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.grade)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.grade)
                        </dd>

                    </dl>


                    @Html.ActionLink("Edit", "Edit", new { sid = Model.student_id, cid = Model.course_id }, new {@class = "btn btn-primary"})
                    @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
</div>